@import "./card.css";
@import "./buttons.css";
@import "./input.css";
@import "./code.css";
@import "./scrollable.css";
@import "./doc.css";

:root {
    /* COLORS */
    --color-bg: #f0f0f0;
    --color-surface: #ffffff;
    --color-surface-rgb: 255, 255, 255;

    --color-shadow: rgba(0, 0, 0, 0.08);

    --color-accent: #337ab7;
    --color-accent-hover: #015472;
    --color-accent-light: #c0e1ff;

    --color-danger: #e63946;
    --color-danger-hover: #c62828;

    --color-ok: #17b466;
    --color-ok-hover: #0f8c4e;
    --color-ok-light: #85fac0;

    --color-muted: #ededed;
    --color-muted-hover: #e4e4e4;

    --color-text: #333333;
    --color-subtle-text: #666;

    /* RADIUS + SHADOWS */
    --radius-lg: 16px;
    --radius-md: 16px;
    --shadow-sm: 0 4px 10px var(--color-shadow);
    --reverse-shadow-sm: inset 0 4px 10px var(--color-shadow);

    /* FONT */

    /* SPACING */
    --small-padding-horizontal: 12px;
    --small-padding-vertical: 6px;
    --small-padding: var(--small-padding-vertical) var(--small-padding-horizontal);
    --padding: 16px;
    --header-height: 85px;
    --action-button-height: 30px;

    /* TRANSITIONS */
    --transition-fast: 0.25s ease-in-out;

    /* FONTS & TEXT */
    --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --text-size: 10px;

    --icon-size: 1em;

    /* doc columns */
    --doc-col-min: 10rem;
    --doc-col-max: 26rem;
    --doc-col-width: clamp(var(--doc-col-min), 25vw, var(--doc-col-max));

    /* merged column */
    --merged-col-min: 10rem;
    --merged-col-max: 26rem;
    --merged-col-width: clamp(var(--merged-col-min), 25vw, var(--merged-col-max));

    --doc-col-gap: 12px;

    font-family: var(--font-sans);

    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-text);
    background-color: var(--color-bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

body {
    /* overflow: hidden; */
    /* prevent body scroll */
    font-family: var(--font-sans);
    font-size: var(--text-size);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 0;
    /* CRITICAL */
}

.main {
    flex: 1;
    min-height: 0;
    /* CRITICAL */
    overflow: auto;
    /* THIS scrolls */
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    font-family: var(--font-sans);
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
