.container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--small-gap);
}

.buttonStack {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--small-gap);
}

.buttonStack button {
    width: 100%;
}

.logo {
    width: min(15em, 100%);
    /* height: 32px; */
}