.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    isolation: isolate;
    z-index: 0;
    margin: 0;
    padding: 0;

    overflow: hidden;
    position: relative;
}

.contentRow {
    justify-content: space-between;

    margin-right: var(--padding);
    margin-left: var(--padding);
    margin-top: var(--padding);
    margin-bottom: 0;
}