.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    isolation: isolate;
    z-index: 0;

    padding: 0;
    gap: var(--padding);
    margin-top: var(--padding);
    margin-bottom: var(--padding);
}

.contentRow {
    justify-content: space-between;

    margin-right: var(--padding);
    margin-left: var(--padding);
    margin-top: 0;
    margin-bottom: 0;

    min-width: 0;
}