.header {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
}

.content {
    width: 100%;
}