.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    min-width: 0;
}

.status {
    margin-left: 8px;
    opacity: 0.6;
}

.titleText {
    color: var(--color-accent);
    text-align: left;
    font-size: 0.9em;
    font-weight: 800;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rightButtons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}